@import "./ClassesPlates.css";
@import "./ElementsPlates.css";

/* GENERICS */


h1 {
  font-family: Roboto, sans-serif;
  color: #949494;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

div {
  font-family: Roboto, sans-serif;
  color: #949494;
  margin: auto;
  text-align: center;
}

a {
  font-family: Roboto, sans-serif;
  color: #949494;
  margin: auto;
  text-align: center;
}

p {
  display: inline-block;
  margin-left: 4%;
}

td, th {
  font-family: 'Patua One', cursive;
}

th {
  width: 100px
}

.results-table {
  border-collapse: collapse;
  border: solid 1px #c7aa6f;
  width: 80%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.623);
  color: #c7aa6f;
}

.results-table-container {
  padding-bottom: 5%;
  position: relative;
}

.results-table-comp-size-container {
  display: inline-block;
  width: 30%;
  position: absolute;
  left: 100px;
  top: 10px;
}

.results-table-comp-size {
  display: inline-block;
  cursor: pointer;
  color: #c7aa6f;
  margin-left: 5%;
  font-family: 'Patua One', cursive;
  font-size: 1.2rem;
  margin-top: 1%;
  width: 6%;
  border-radius: 50%;
  border: solid 2px #c7aa6f;
  width: 25px;
  height: 25px;
}

.results-table-comp-size.active{
  background-color: #225180;
}

.results-table-header-head {
  font-weight: 400;
  font-size: 0.8rem;
  padding: 10px;
  border: solid 1px #c7aa6f;
}

.results-table-body-row td {
  font-weight: 400;
  border: solid 1px #c7aa6f;
  padding: 10px;
}

.results-table-body-trait-slot {
  font-weight: 400;
  display: inline-block;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  border-radius: 50%;
  background-size: 100%;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  position: relative;
  transition: 1s;
}

.results-table-body-trait-item {
  font-weight: 400;
  position: absolute;
  background-image: url(./Images/Traits/empty.png);
  background-size: 100%;
  width: 35px;
  height: 35px;
  background-position: center;
  left: 0px;
  top: 0px;
  transition: 1s;
}

.results-table-body-winrate {
  position: relative;
}

.results-table-body-popularity {
  position: relative;
}

.results-table-header-sort {
  display: inline-block;
  margin-left: 5%;
  cursor: pointer;
  color: #c7aa6f;
}

.results-table-page-select {
  display: inline-block;
  cursor: pointer;
  color: #c7aa6f;
  margin-left: 5%;
  font-family: 'Patua One', cursive;
  font-size: 1.2rem;
  margin-top: 1%;
}

.results-table-page-select-container {
  display: inline-block;
  margin-left: 20%;
  width: 100%;
}

.results-table-percentage-bar {
  position: absolute;
  height: 16px;
  background-color: #838383;
  border: solid 2px #ffffff;
  left: 12px;
  top: 22px;
  z-index: -1;
}


/* APPENDIX TABLE */

.appendix-table {
  border-collapse: collapse;
  border: solid 1px #c7aa6f;
  width: 80%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.623);
  color: #c7aa6f;
}

.appendix-table-body-cell-term {
  padding: 10px;
  border: solid 1px #c7aa6f;
}

.appendix-table-head-row th {
  font-weight: 400;
  padding: 10px;
  border: solid 1px #c7aa6f;
}

.appendix-table-body-cell-description {
  font-weight: 400;
  border: solid 1px #c7aa6f;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appendix-table-body-row td h3 {
  font-weight: 400;
  font-size: .8rem;
}

.appendix-description-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #bdbdbd;
  text-align: left;
}

br {
  display: block;
  width: 50%;
  height: 50px;
  content: " ";
}

/* LARGE CONTAINERS AND BACKGROUNDS */

.mainContainer {
  text-align: center;
}

.analysis-header-container {
  margin-left: 5%;
  margin-right: 35%;
  margin-top: 5%;
  width: 80%;
}

.analysis-header {
  font-family: 'Patua One', cursive;
  font-weight: 400;
  color: #c7aa6f;
  text-decoration: none;
  margin: auto;
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
  border-bottom: solid 2px #c7aa6f;
  filter: grayscale(100%);
}

.analysis-header.active {
  filter: none;
}

.tooltip-button {
  position: relative;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  color: #1e2328;
  border-radius: 50%;
  border: solid 1px black;
  display: inline-block;
  margin-right: 5%;
}

.tooltip-button span {
  font-family: Roboto, sans-serif;
  display: none;
  font-size: 0.8rem;
  border: solid 2px #c7aa6f;
  background-color: #1e2328;
  background-size: 100%;
  width: 150px;
  padding: 10px;
  color: rgb(201, 201, 201);
  position: absolute;
  text-align: left;
  left: -40px;
  top: -60px;
  z-index: 20;
}

.tooltip-button:hover span {
  display: block;
}

.background1 {
  position: absolute;
  background-image: url(./Images/backgroundTest.svg);
  width: 100%;
  height: 500%;
  top:0;
  left:0;
  position: fixed;
  outline:0;
  z-index: -1;
  opacity: .99;
}

.background2 {
  position: absolute;
  background-image: url(./Images/backgroundTest.svg);
  width: 100%;
  height: 100%;
  top:10px;
  left:0;
  position: fixed;
  outline:0;
  z-index: -1;
}

/* NAV */

.navbar {
  position: fixed;
  top:0;
  background-color: #121212;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  z-index: 10;
}

.navbutton {
  font-family: 'Patua One', cursive;
  font-weight: 400;
  font-kerning: none;
  color: #c7aa6f;
  background-color: #121212;
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.navbutton-active {
  font-family: 'Patua One', cursive;
  font-weight: 400;
  color: #c7aa6f;
  background-color: #121212;
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: solid 2px #c7aa6f;
}

.navbutton:hover {
  transition: 0.3s;
  margin-bottom: 0px;
  border-bottom: solid 2px #c7aa6f;
}

.navbar-wall {
  position: relative;
  width: 3%;
  vertical-align: middle;
  height: 40px;
  display: inline-block;
  clip-path: polygon(80% 0%, 100% 0, 20% 100%, 0 100%);
  background-color: #c7aa6f;
  background-size: 100%;
}

/* SEARCH FORMS */

.summoner-search-form {
  margin: auto;
  display: block;
  text-align: justify;
  padding: 20px;
  padding-left: 30px;
  width: 35%;
  border: solid 2px #c7aa6f;
  box-shadow: 0px 0px 5px black;
  background-color: #1e2328;
  color: #fdd88e;
  position: relative;
}

.summoner-search-box {
  width: 70%;
  border: 0;
  color: #fdd88e;
  font-weight: 400;
  font-family: 'Patua One', cursive;
  font-size: .9rem;
  outline: 0;
  font-size: 16px;
  background-color: #1e2328;
}

.summoner-search-region {
  font-weight: 400;
  margin-left: 4%;
  margin-right: 1%;
  padding:4px;
  width: 29px;
  border-left: solid 1px #c7aa6f;
  border-top: 0;
  border-bottom: 0;
  border-right: solid 1px #c7aa6f;
  font-family: Roboto, sans-serif;
  background-color: #1e2328;
  color: #fdd88e;
  text-align: center;
  font-size: 75%;
  outline: 0;
  display: inline-block;
}

.summoner-search-submit {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #fdd88e;
  font-size: 100%;
  outline: 0;
  border: 0;
  background-color: #1e2328;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 5%;
}

.tft-insights-logo-1 {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  font-size: 65%;
  text-align: center;
  width: 100%;
  background-color: #121212;
  box-shadow: 0px 0px 5px black;
  z-index: 10;
}

.footer-links, .disclaimer {
  margin-top: 0.5%;
  margin-bottom: 1%;
  text-align: center;
  width: 82%;
}

::placeholder {
  color:#fdd88e;
  font-weight: 400;
  font-family: 'Patua One', cursive;
  font-size: .9rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* CHAMPION SELECTION TABLE */

.champion-table {
  margin: auto;
  border-collapse: collapse;
  font-family: 'Patua One', cursive;
  font-weight: 400;
  margin-top: 6%;
  border-top: solid 2px #c7aa6f;
  border-bottom: solid 2px #c7aa6f;
  width: 80%;
  padding-bottom: 4%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.623);
  color: #c7aa6f;
}

.champion-table-header-head {
  border-left: solid 2px #c7aa6f;
  border-right: solid 2px #c7aa6f;
  font-weight: 400;
  font-size: .8rem;
  padding: 20px;
}

.champion-table-body-cell-champ{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.champion-table-body-cell-item{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.champion-table-body-cell-rank{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.champion-table-body-cell-time{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.champion-table-body-row {
  border: solid 2px #c7aa6f;
  height: 200px;
}

.champion-table-body-selections-traits {
  display: table;
  width: 550px;
  z-index: -10;
  margin-top: 1%;
  margin-bottom: 1%;
}

.champion-clear-container{
  position: relative;
  vertical-align: middle;
  width: 15%;
  margin-top: 10%;
}

.champion-clear:hover {
  box-shadow: 0px 0px 5px #c7aa6f;
  transition: 0.25s
}

.champion-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.champion-selector-plate {
  font-family: 'Patua One', cursive;
  text-align: center;
  margin-left: 5px;
  margin-top: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(32, 32, 32);
  background-size: 120%;
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 3px #c7aa6f;
  transition: 0s;
  z-index: -1;
  font-size: 1.9rem;
}

.champion-container.active .champion-selector-plate {
  cursor: pointer;
  z-index: 10;
  display: block;
  opacity: 1;
  transition: 0.25s;
}

.champion-selector-plate:nth-of-type(1) {
  top: -225%;
  left: 0%;
}
.champion-selector-plate:nth-of-type(2) {
  top: -60%;
  left: 0%;
}
.champion-selector-plate:nth-of-type(3) {
  top: -275%;
  left: -125%;
}
.champion-selector-plate:nth-of-type(4) {
  top: -365%;
  left: 125%;
}
.champion-selector-plate:nth-of-type(5) {
  top: -220%;
  left: 0%;
}
.champion-selector-plate:nth-of-type(6) {
  top: -538%;
  left: -225%;
}
.champion-selector-plate:nth-of-type(7) {
  top: -626%;
  left: 225%;
}
.champion-selector-plate:nth-of-type(8) {
  top: -940%;
  left: 0%;
}
.champion-selector-plate:nth-of-type(9) {
  top: -900%;
  left: -98%;
}
.champion-selector-plate:nth-of-type(10) {
  top: -900%;
  left: -98%;
}

.champion-selector-plate:hover {
  box-shadow: 0px 0px 1px 4px #ffffff!important;
}

.champion-item-slot {
  display: inline-block;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  border-radius: 50%;
  background-size: 100%;
  width: 66px;
  height: 66px;
  position: relative;
  margin-left: 130px;
  cursor: pointer;
  transition: .5s;
}

.champion-clear {
  font-family: 'Patua One', cursive;
  font-size: .8rem;
  color: #c7aa6f;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  padding: 4px;
  width: 100%;
  cursor: pointer;
  transition: 0.25s;
  position: absolute;
  left: 15%;
}

.champion-body-selection {
  display: table;
  width: 800px;
  z-index: -10;
  margin-top: 1%;
  margin-bottom: 1%;
}
/* ANALYSIS SELECTION TABLE */

.selection-table {
  margin: auto;
  border-collapse: collapse;
  font-family: 'Patua One', cursive;
  font-weight: 400;
  margin-top: 1%;
  border-top: solid 2px #c7aa6f;
  border-bottom: solid 2px #c7aa6f;
  width: 80%;
  padding-bottom: 4%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.623);
  color: #c7aa6f;
}

.selection-table-header-head {
  border-left: solid 2px #c7aa6f;
  border-right: solid 2px #c7aa6f;
  font-weight: 400;
  font-size: .8rem;
  padding: 20px;
}

.selection-table-body-cell {
  height: 100px;
}

.selection-table-body-cell-rank{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.selection-table-body-cell-time{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.selection-table-body-row {
  border: solid 2px #c7aa6f;
  height: 200px;
}

.selection-button {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.selection-button:checked + .rank-div {
  transition: 0.25s;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.selection-button-label div {
  background-position: center;
  background-size: 140%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}

.selection-time-button {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  padding: 10px;
  border: solid 1px grey;
  background-color: rgba(0, 0, 0, 0.459);
  cursor: pointer;
  font-size: 0.7rem;
  transition: 0.25s;
}

.selection-time-button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-button:checked + div {
  transition: 0.25s;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.selection-challenger-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/challenger.png);
}

.selection-all-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/all.png);
}

.selection-grandmaster-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/grandmaster.png);
}

.selection-master-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/master.png);
}


.selection-challenger-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-all-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-grandmaster-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-master-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-table-body-selections {
  position: relative;
}

.selection-table-body-selections-traits {
  display: table;
  width: 550px;
  z-index: -10;
  margin-top: 1%;
  margin-bottom: 1%;
}

.selection-clear-container{
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 15%;
}

.selection-clear {
  font-family: 'Patua One', cursive;
  font-size: .8rem;
  color: #c7aa6f;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  padding: 4px;
  width: 100%;
  cursor: pointer;
  transition: 0.25s;
  position: absolute;
  left: 120%;
  top: 30%;
}

.selection-clear:hover {
  box-shadow: 0px 0px 5px #c7aa6f;
  transition: 0.25s
}



.locked {
  pointer-events: none;
  filter: grayscale(100%)
}

/* RADIAL TRAIT MENU */

.elements-checkbox, .classes-checkbox, .tier-checkbox{
  display: none;
}

.classes-button {
  background-image: url(./Images/classesButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: grayscale(100%);
}

.elements-button {
  background-image: url(./Images/elementsButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: grayscale(100%);
}

.elements-button-active {
  background-image: url(./Images/elementsButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: none;
}

.classes-button-active {
  background-image: url(./Images/classesButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: none;
}

.elements-button:hover {
  transition: 0.25s;
  filter: none;
}

.classes-button:hover {
  transition: 0.25s;
  filter: none;
}

.main {
  margin-left: 50px;
  display: inline-block;
  position: relative;
}

.container, .classes-container, .classes-container-active, .elements-container, .elements-container-active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.radial-background {
  pointer-events: none;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  top: -117px;
  left: -116px;
  z-index: 1;
}

.radial-background-active {
  pointer-events: none;
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  transition: 0.25s;
  opacity: 1;
  box-shadow: 0px 0px 1px 3px #c7aa6f;
  top: -117px;
  left: -117px;
  z-index: 1;
  overflow: hidden;
}

.radial-background-mask::after {
  content: '';
  position: absolute;
  border-radius:100%;
  width:66px; height:66px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 0px 2000px rgb(0, 0, 0);
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  top: -17px;
  right: -17px;
  width: 100px;
  height: 100px;
  background-image: url(./Images/Effects/TraitSpinner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 0;
  transition: 1s;
}

.spinner-active {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  top: -17px;
  right: -17px;
  width: 100px;
  height: 100px;
  background-image: url(./Images/Effects/TraitSpinner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 1;
  transition: 1s;
}

/* TIER RADIAL MENU */

.selection-tier-slot {
  display: inline-block;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  border-radius: 50%;
  background-size: 100%;
  width: 66px;
  height: 66px;
  position: relative;
  margin-left: 130px;
  cursor: pointer;
  transition: .5s;
}

.selection-tier-item {
  position: absolute;
  background-image: url(./Images/Traits/empty.png);
  background-size: 100%;
  width: 46px;
  height: 46px;
  background-position: center;
  left: 10px;
  top: 10px;
  cursor: pointer;
  transition: .5s;
  border-radius: 50%;
}

.tier-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.tier-container-active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.neutral {
  background-color: #1e2328;
}

.bronze {
  background-color: #883600;
}

.silver {
  background-color: rgb(104, 104, 104);
}

.gold {
  background-color: gold;
}

.tier-container-active .plate { cursor: pointer; z-index: 10; display: block; opacity: 1; transition: 0.25s; 
}

.tier-container-active .plate:nth-last-of-type(3) {
  top: -100%;
  right: -130%;
  background-color: #883600;
  color: white;
}

.tier-container-active .plate:nth-last-of-type(2) {
  right: -230%;
  top: -187%;
  background-color: rgb(104, 104, 104);
  color: white;
}

.tier-container-active .plate:nth-last-of-type(1) {
  right: -330%;
  bottom: 274%;
  background-color: gold;
  color: white;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidden {
  visibility: hidden;
}

.plate {
  font-family: 'Patua One', cursive;
  text-align: center;
  margin-left: 5px;
  margin-top: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(32, 32, 32);
  position: relative;
  width: 40px;
  height: 40px;
  background-size: 70%;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 3px #c7aa6f;
  transition: 0s;
  z-index: -1;
  font-size: 1.9rem;
}

.plate:hover {
  box-shadow: 0px 0px 1px 5px #c7aa6f;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1060px) {
  .selection-table, .results-table {
    width: 850px;
  }
}

@media screen and (max-width: 850px) {

    
  .selection-table {
    margin-top: 15%;
  }
}

@media screen and (max-width: 550px) {
  .navbar-wall {
    display: none;
  }
  .navbutton, .navbutton-active, .navbutton:hover{
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  .summoner-search-form {
    width: 70%;
  }
  .navbutton, .navbutton-active, .navbutton:hover{
    font-size: 0.5rem;
  }
  .tft-insights-logo-1 {
    width: 50%;
    margin-top: 20%;
  }

  footer {
    font-size: 0.2rem;
  }

  .selection-table-header-head {
    font-size: 0.5rem;
  }

  .selection-table {
    margin-top: 22%;
  }
}