@import "./ClassesPlates.css";
@import "./ElementsPlates.css";

/* GENERICS */


h1 {
  font-family: Roboto, sans-serif;
  color: #949494;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

div {
  font-family: Roboto, sans-serif;
  color: #949494;
  margin: auto;
  text-align: center;
}

a {
  font-family: Roboto, sans-serif;
  color: #949494;
  margin: auto;
  text-align: center;
}

p {
  display: inline-block;
  margin-left: 4%;
}

td, th {
  font-family: 'Patua One', cursive;
}

th {
  width: 100px
}

.results-table {
  border-collapse: collapse;
  border: solid 1px #c7aa6f;
  width: 100%;
  margin-top: 1%;
  background-color: rgba(0, 0, 0, 0.623);
  color: #c7aa6f;
}

.results-table-header-head {
  font-size: 0.8rem;
  padding: 10px;
  border: solid 1px #c7aa6f;
}

.results-table-body-row td {
  border: solid 1px #c7aa6f;
  padding: 10px;
}

.results-table-body-trait-slot {
  display: inline-block;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  border-radius: 50%;
  background-size: 100%;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  position: relative;
  transition: 1s;
}

.results-table-body-trait-item {
  position: absolute;
  background-image: url(./Images/Traits/empty.png);
  background-size: 100%;
  width: 35px;
  height: 35px;
  background-position: center;
  left: 0px;
  top: 0px;
  transition: 1s;
}
/* LARGE CONTAINERS AND BACKGROUNDS */

.mainContainer {
  text-align: center;
}

.background1 {
  background-color: #2d2d2d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23494949' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  height: 2000px;
  top:0;
  position: fixed;
  z-index: -1;
}

/* NAV */

.navbar {
  position: fixed;
  top:0;
  background-color: #121212;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  z-index: 10;
}

.navbutton {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-kerning: none;
  color: #949494;
  background-color: #121212;
  display: inline-block;
  margin-left: 5%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.navbutton-active {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-kerning: none;
  color: #949494;
  background-color: #121212;
  display: inline-block;
  margin-left: 5%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: solid 2px #8f8f8f;
}

.navbutton:hover {
  transition: 0.3s;
  margin-bottom: 0px;
  border-bottom: solid 2px #8f8f8f;
}



/* SEARCH FORMS */

.summoner-search-form {
  margin: auto;
  display: block;
  text-align: justify;
  padding: 20px;
  padding-left: 30px;
  width: 35%;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 5px black;
  background-color: rgb(250, 250, 250);
  color: #2d2d2d;
  position: relative;
}

.summoner-search-box {
  width: 70%;
  border: 0;
  color: #2d2d2d;  
  outline: 0;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
}

.summoner-search-region {
  font-weight: 700;
  margin-left: 4%;
  margin-right: 1%;
  padding:4px;
  width: 29px;
  border-left: solid 1px black;
  border-top: 0;
  border-bottom: 0;
  border-right: solid 1px black;
  font-family: Roboto, sans-serif;
  background-color: rgb(250, 250, 250);
  color: #2d2d2d;
  text-align: center;
  font-size: 75%;
  outline: 0;
  display: inline-block;
}

.summoner-search-submit {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #2d2d2d;
  font-size: 100%;
  outline: 0;
  border: 0;
  background-color: rgb(250, 250, 250);
  display: inline-block;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 5%;
}

.tft-insights-logo-1 {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

/* FOOTER */

footer {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 65%;
  text-align: center;
  width: 100%;
  background-color: #121212;
  box-shadow: 0px 0px 5px black;
  z-index: 10;
}

.footer-links, .disclaimer {
  margin-top: 0.5%;
  margin-bottom: 1%;
  text-align: center;
  width: 82%;
}

::placeholder {
  color:#2d2d2d;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* ANALYSIS SELECTION TABLE */

.selection-table {
  margin: auto;
  border-collapse: collapse;
  font-family: 'Patua One', cursive;
  margin-top: 10%;
  border-top: solid 2px #c7aa6f;
  border-bottom: solid 2px #c7aa6f;
  width: 100%;
  padding-bottom: 4%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.623);
  color: #c7aa6f;
}

.selection-table-header-head {
  border-left: solid 2px #c7aa6f;
  border-right: solid 2px #c7aa6f;
  font-weight: 700;
  font-size: .8rem;
  padding: 20px;
}

.selection-table-body-cell {
  height: 100px;
}

.selection-table-body-cell-rank{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.selection-table-body-cell-time{
  text-align: left;
  width: 10%;
  border-left: solid 2px #c7aa6f;
}

.selection-table-body-row {
  border: solid 2px #c7aa6f;
  height: 200px;
}

.selection-button {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.selection-button:checked + .rank-div {
  transition: 0.25s;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.selection-button-label div {
  background-position: center;
  background-size: 140%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}

.selection-time-button {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  padding: 10px;
  border: solid 1px grey;
  background-color: rgba(0, 0, 0, 0.459);
  cursor: pointer;
  font-size: 0.7rem;
  transition: 0.25s;
}

.selection-time-button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-button:checked + div {
  transition: 0.25s;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.selection-challenger-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/challenger.png);
}

.selection-all-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/all.png);
}

.selection-grandmaster-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/grandmaster.png);
}

.selection-master-image {
  transition: 0.25s;
  background-image: url(./Images/Ranks/master.png);
}


.selection-challenger-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-all-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-grandmaster-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-master-image:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.selection-table-body-selections {
  position: relative;
}

.selection-table-body-selections-traits {
  display: table;
  width: 550px;
  z-index: -10;
  margin-top: 1%;
  margin-bottom: 1%;
}

.selection-clear-container{
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 15%;
}

.selection-clear {
  font-family: 'Patua One', cursive;
  font-size: .8rem;
  color: #c7aa6f;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  padding: 4px;
  width: 100%;
  cursor: pointer;
  transition: 0.25s;
  position: absolute;
  left: 120%;
  top: 30%;
}

.selection-clear:hover {
  box-shadow: 0px 0px 5px #c7aa6f;
  transition: 0.25s
}



.locked {
  pointer-events: none;
  filter: grayscale(70%)
}

/* RADIAL TRAIT MENU */

.elements-checkbox, .classes-checkbox, .tier-checkbox{
  display: none;
}

.classes-button {
  background-image: url(./Images/classesButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: grayscale(70%);
}

.elements-button {
  background-image: url(./Images/elementsButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: grayscale(70%);
}

.elements-button-active {
  background-image: url(./Images/elementsButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: none;
}

.classes-button-active {
  background-image: url(./Images/classesButton.png);
  width: 66px;
  height: 33px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
  filter: none;
}

.elements-button:hover {
  transition: 0.25s;
  filter: none;
}

.classes-button:hover {
  transition: 0.25s;
  filter: none;
}

.main {
  margin-left: 50px;
  display: inline-block;
  position: relative;
}

.container, .classes-container, .classes-container-active, .elements-container, .elements-container-active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.radial-background {
  pointer-events: none;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  top: -117px;
  left: -116px;
  z-index: 1;
}

.radial-background-active {
  pointer-events: none;
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  transition: 0.25s;
  opacity: 1;
  box-shadow: 0px 0px 5px rgb(255, 166, 0);
  top: -117px;
  left: -116px;
  z-index: 1;
  overflow: hidden;
}

.radial-background-mask::after {
  content: '';
  position: absolute;
  border-radius:100%;
  width:66px; height:66px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 0px 2000px rgb(0, 0, 0);
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  top: -17px;
  right: -17px;
  width: 100px;
  height: 100px;
  background-image: url(./Images/Effects/TraitSpinner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 0;
  transition: 1s;
}

.spinner-active {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  top: -17px;
  right: -17px;
  width: 100px;
  height: 100px;
  background-image: url(./Images/Effects/TraitSpinner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 1;
  transition: 1s;
}

/* TIER RADIAL MENU */

.selection-tier-slot {
  display: inline-block;
  background-color: #1e2328;
  border: solid 2px #c7aa6f;
  border-radius: 50%;
  background-size: 100%;
  width: 66px;
  height: 66px;
  position: relative;
  margin-left: 130px;
  cursor: pointer;
  transition: 1s;
}

.selection-tier-item {
  position: absolute;
  background-image: url(./Images/Traits/empty.png);
  background-size: 100%;
  width: 45px;
  height: 45px;
  background-position: center;
  left: 11px;
  top: 11px;
  cursor: pointer;
  transition: 1s;
}

.tier-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.tier-container-active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  top: 58px;
}

.neutral {
  background-color: #1e2328;
}

.bronze {
  background-color: #883600;
}

.silver {
  background-color: rgb(104, 104, 104);
}

.gold {
  background-color: gold;
}

.tier-container-active .plate { cursor: pointer; z-index: 10; display: block; opacity: 1; transition: 0.25s; 
}

.tier-container-active .plate:nth-last-of-type(3) {
  top: -100%;
  right: -130%;
  background-color: #883600;
  color: white;
}

.tier-container-active .plate:nth-last-of-type(2) {
  right: -230%;
  top: -187%;
  background-color: rgb(104, 104, 104);
  color: white;
}

.tier-container-active .plate:nth-last-of-type(1) {
  right: -330%;
  bottom: 274%;
  background-color: gold;
  color: white;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidden {
  visibility: hidden;
}

.plate {
  font-family: 'Patua One', cursive;

  text-align: center;
  margin-left: 5px;
  margin-top: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(32, 32, 32);
  position: relative;
  width: 40px;
  height: 40px;
  background-size: 70%;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 3px #c7aa6f;
  transition: 0s;
  z-index: -1;
  font-size: 1.9rem;
}

.plate:hover {
  box-shadow: 0px 0px 1px 3px #c7aa6f;
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
  .selection-table, .results-table {
    width: 850px;
  }
    
  .selection-table {
    margin-top: 15%;
  }
}

@media screen and (max-width: 500px) {
  .summoner-search-form {
    width: 70%;
  }
  .navbutton, .navbutton-active, .navbutton:hover{
    font-size: 0.5rem;
  }
  .tft-insights-logo-1 {
    width: 50%;
    margin-top: 20%;
  }

    
  .selection-table {
    margin-top: 22%;
  }
}